# ==============================================================================
# Global & State Configuration
# ==============================================================================
aws_region          = "us-west-2"
state_bucket_name   = "your-globally-unique-bucket-name"
project_prefix      = "my-app"

# ==============================================================================
# AWS Tagging
# ==============================================================================
environment = "production"

# ==============================================================================
# Github Actions OIDC Authentication
# ==============================================================================
github_repo         = "YourOrg/YourRepo"
github_environment  = "production"

# ==============================================================================
# Billing
# ==============================================================================
budget_limit_amount = "5.00"
budget_alert_email  = "youremail@example.com"
